node_modules/
.expo/
dist/
npm-debug.*
.env
.env.local
.env.*.local
.DS_Store
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
build/
.gradle
local.properties
*.iml
.firebase/
/home/felix/Documents/Documents/L3/Programmation web avancee/version1/Tutoring_app/backend/chroma_db/chroma_db
