node_modules/
.expo/
dist/
npm-debug.*
.env
.env.local
.env.*.local
.DS_Store
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
build/
.gradle
local.properties
*.iml
.firebase/
